@import url(../fonts.css);
@import url(../portfolio/css/variables.css);


a img{
	width: 50px;
	length:50px;
}

.header_area .main-menu .navbar .navbar-brand{
	padding: 0.2rem 0.5rem;
}
.header_area .main-menu .navbar{
	padding: 1rem 2rem;
}
.header_area .main-menu .nav-item .nav-link{
	font-family: var(--roboto);
	text-transform: uppercase;
	font-weight: 500;
	color: var(--title-color);
}
.header_area .main-menu .navbar-nav .active a{
	background: var(--gradient-color);
	.webkit-background-clip:text;
	.webkit-text-fill-color:transparent;
	background-clip: text;
}
.header_area .main-menu .navbar-nav a:hover{
	background: var(--gradient-color);
	.webkit-background-clip:text;
	.webkit-text-fill-color:transparent;
	background-clip: text;
}
/*Banner area*/
.site-main .site-banner .site-title h3{
	padding-top: 35%;
	font-weight: 500;
	padding-left:10%;
}
.site-main .site-banner .site-title h3::after{
 content: " ";
 height: 2px;
 width: 18vw;
 background: black;
 display: inline-block;
 margin-left: 5%;
 transform: translateY(-10px);
}
.site-main .site-banner .site-title h1{
	padding-left: 10%;
	font-size: 5rem;
}
.site-main .site-banner .site-title h4{
	font-size:1.5rem;
	padding-left: 10%;
}
.site-main .site-banner .banner-image > img{
	padding: 10rem 0;
	width: 20rem;
}
.site-main .site-banner .site-button{
	padding-left: 15%;
}
.site-main .site-banner .site-button button{
	padding: 5px;
	background: linear-gradient(90deg,#4458dc 0%, #854fee 100%);
    position: relative;
    border: 3px solid transparent;
    border-radius: 4px;
}
.site-main .site-banner .site-button button:hover{
 background: whitesmoke;
}
.about-area .about-image img{
	padding-left: 15%;
}
.site-main .about-area{
	padding: 8rem 5rem;
}
.site-main .about-area .about-title h2>span{
 display: block;
 font: normal bold 49px/60px var(--roboto);
 letter-spacing: 15px;
}
.site-main .about-area .about-title .paragraph> p{
	padding: 2rem 0;
}
p.para{
	color: #777777;
	font: normal 500 20px/25px var(--roboto);
}
.site-main .services-area{
	padding: 7rem 2rem;
}
.site-main .services-area .services-title{
	padding: 0rem 14rem;
}
.site-main .services-area .services-title h1{
 font-size: 35px;
}
.site-main .services-area .services{
	background: rgba(248,252,253,0.973);
	padding: :6rem 10rem;
	width: 16rem;
	margin: 5rem 5rem;
	transition: box-shadow.7s ease;
}
.site-main .services-area .services:hover{
	box-shadow: var(--box-shadow);
}
.navbar_fixed{
	position: fixed;
	width: 100%;
	top: -1px;
	left: 0;right: 0;
	background: #ffffff;
	box-shadow: var(--box-shadow);
	z-index: 999;
	transition: background .7s ease;
}

/* Footer */

.footer {
  position:relative;
  bottom:0;
  left:0;
  width:100%;
  height: 90px;
  padding: 15px 35%;
  background-color: #D0DAEE;
}